fastf1>=3.8.3
pandas>=2.3.3
numpy>=2.5.2
matplotlib>=3.11.1
pyarrow>=25.0.1
lightgbm>=4.7.0
scikit-learn>=1.9.0
jupyter>=1.1.1
imbalanced-learn>=0.13.0
pyspark>=4.2.0
kafka-python-ng>=2.2.3
fastapi>=0.115
uvicorn>=0.34
